body{
    width: 100%;
    min-height: 100vh;/*tamaño minimo*/
    font-family:  'Roboto', sans-serif;
}
.container-flui{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
}
.cuerpo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
/*botones*/
.btn1{
    border-radius: 20px;
    font-size: 18px;
    padding: 8px 18px;
    color: white;
    background-color: blue;
    font-weight: 400;
    font-size: 1.2em;
    border: none;
}
/*Pide cita sin esperas*/
.btn2{
    border-radius: 20px;
    font-size: 18px;
    padding: 12px 24px;
    color: blue;
    background-color: yellow;
    font-weight: 600;
    font-size: 2.2em;
    border :none;
}
/*Parte del navbar*/
.navbar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0;
    flex-wrap: wrap;
}
.superior{
    width: 100%;
    background-color: #337aff;
    color:white;
    min-height: 70px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    font-size: 20px;
}
.imglogo img {
    width: 150px;
    border-radius: 50%; 
}
.inferior{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: azure;
    align-items: center;
    min-height: 130px;
}
/*caja con imagen y contenido*/
.imglogo{
    width: 50%;
    padding-left: 30px;
}
.menu{
    width: 50%;
}
.navbar-nav{
    display: flex;
    gap:30px;
    font-size: 25px;
}
/*lista del menu*/
.navbar-nav{
    display: flex;
    flex-direction: row;
}
.portada{
    width: 100%;
    height: 400px; 
    background-image: url(../imagenes/portada.jpg);
    background-size: cover; /* Ajusta el tamaño de la imagen */
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    gap:30px;
    color: white;
}
/*barra de esterilizacion,etc*/
.barra{
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.caja{
    display: flex;
    flex-direction: row;  
    text-align: center; 
    gap:20px;
    justify-content: center;
    flex-wrap: wrap;/*permite que el contenido se acomode en mas lineas*/
}
.uno{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    min-width: 30%;
    gap:1px;
}
/*ajuste de imagenes dr barra*/
.caja img {
    max-width: 100%;
    max-height: 200px;
    display: block;
}
/*parte de informacion*/
.informacion {
    max-width: 80%;
    min-height: 45vh;
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.inf{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #33b8ff;
    color: white;
    flex: 1 1 250px; 
    max-width: 100%;
    min-width: 200px;
    min-height: 300px;
    max-height: 100%;
}
.inf img {
    max-width: 100%;
    max-height: 70px;
    border-radius: 50%;
}
/*pie de pagina borrador*/
.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: center;
    background-color: #33b8ff;
    flex-wrap: wrap;
    color: white;
    align-items: center;
}
.pie {
    padding-top: 1%;
    width: 100%;
    display: flex;
    min-height: 350px;
    flex-direction: column;
    flex: 1;
    padding-left: 3%;
    max-width: 500px;
    text-align: start;
    gap:5px; 
}
/* Ajustar del espaciado de cooreo */
.mb-3 {
    width: 70%;
    max-width: 300px;
}
